html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
    .mobile-container {
        padding: 0 10%;
    }

    /* header styling */
    .header {
        margin-top: 2em;
    }
    .logo {
        display: flex;
        align-items: center;
    }
    .logo i {
        font-size: 2em;
        margin-right: 0.25em;
    }
    .logo span {
        font-size: 1.5em;
    }

    /* greeting-msg styling */
    section.greeting-msg h1 {
        font-size: 2.5em;
        margin-top: 0.5em;
        margin-bottom: 0.2em;
    }

    /* day-info styling */
    section.day-info {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }
    .day-info .weather {
        background-color: hsl(0, 0%, 75%);
        border-radius: 10px;
        margin-right: 5px;
    }
    .day-info .weather i {
        color: black;
        font-size: 1.5em;
        padding: 5px;
    }
    .day-info .date{
        background-color: hsl(0, 0%, 75%);
        width: 35%;
        font-size: 1.2em;
        padding: 5px 15px;
        border-radius: 10px;
    }
}