html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

body {
    padding: 5%;
    height: 100vh;
}

/* header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    padding: 10px;
    border-radius: 10px;
}
header i {
    font-size: 2em;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 75%);
}
header span {
    margin: 0;
    font-size: 1.5em;
    font-weight: 700;
}
header button {
    font-size: 1.5em;
    border: 0;
    padding: 5px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 75%);
}

/* section.new-task-form styling */
section.new-task-form {
    margin-top: 5vh;
}
.new-task-form form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.new-task-form i {
    font-size: 2.5em;
}
.new-task-form form div {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin-bottom: 20px;
}
.new-task-form form div label {
    margin-right: 30px;
}
.new-task-form input {
    width: 230px;
    height: 2rem;
    font-size: 1.25rem;
    border-radius: 10px;
}
.new-task-form div div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.new-task-form div div span {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.new-task-form textarea {
    width: 230px;
    border-radius: 10px;
}