html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    text-decoration: none;
}

a {
    color: inherit;
}

.main-body {
    margin: 24px 32px;
}

.navbar-navbar {
    display: flex;
    justify-content: space-between;
    display: none;
}

.desktop-nav {
    display: flex;
    justify-content: space-between;
}

.side-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 24px 32px;
}

.status-position {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
}

.datenweather.col {
    display: flex;
    justify-content: flex-end;
}

.datenweather.col .date {
    display: flex;
    justify-content: space-around;
    margin: 10px 10px;
}

.datenweather.col .weather {
    display: flex;
    justify-content: space-around;
    margin: 10px 10px;
}

.add-task-sm {
    position: relative;
    margin: 24px 32px;
    display: flex;
    justify-content: flex-end;
}

.card-style {
    margin-bottom: 80px;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

button.btn.btn-secondary.dropdown-toggle {
    max-width: 40px;
    max-height: 30px;
}

i.fas.fa-list-ul {
    display: flex;
    justify-content: center;
    align-content: center;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 65px;
}

footer i {
    font-size: 2em;
}

footer #add-task-lg {
    color: rgb(67, 216, 67);
    font-size: 3.5em;
}

@media screen and (max-width:768px) {
    nav.navbar-navbar {
        display: none;
    }
    .side-bar {
        display: none;
    }
    .card-body .card-assign {
        display: none;
    }
    .card-body .card-due {
        display: none;
    }
    .add-task-sm {
        display: none;
    }
}

@media screen and (max-width:1680px) {
    .datenweather {
        display: none;
    }
}