.modal,
.delete-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.modal h3 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.modal form input,
.modal form textarea,
.modal form select {
    border-radius: 5px;
    min-width: 200px;
}

.modal form input,
.modal form select {
    height: 1.5rem;
    border: 1px solid black;
}

.modal form .form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    min-width: 80%;
}

.modal form .form-row label {
    min-width: 30%;
}

.modal form .form-row div {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    min-width: 50%;
}

.modal form .form-row div label {
    margin-bottom: 5px;
}

.modal input[type="date"] {
    font-family: 'Arial', 'Helvetica', sans-serif;
}

.modal textarea {
    /* width: 230px; */
    font-family: 'Arial', 'Helvetica', sans-serif;
}

.modal #status-priority-pair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal #status-priority-pair select {
    min-width: 100px;
}

.modal button {
    width: 100px;
    padding: 5px 0;
    border: 0;
    border-radius: 5px;
    background-color: #ff9b9b;
    cursor: pointer;
}
.modal button:disabled {
    cursor: not-allowed;
}
.modal button.confirm-add {
    margin-top: 1rem;
    margin-right: 2rem;
}
.modal button i {
    margin-right: 1rem;
}

.close-modal,
.close-delete-modal {
    align-self: flex-end;
    cursor: pointer;
}

.delete-modal {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.delete-modal div {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 1rem;
}
.delete-modal button {
    padding: 10px 15px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}
.delete-modal .confirm-delete {
    background-color: hsl(0, 100%, 65%);
}